.favourite {
    margin-top: 80px;
    min-height: 100vh;
    background-color: #f5faff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 50px;
    padding-bottom: 100px;
}

.favourite-text-with-nothing {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    font-family: cursive;
    line-height: 1.5;
    margin-left: 550px;
    margin-top: 80px;
    padding-top: 150px;
}