.register {
    background-color: #fd8340;
    height: 695px;
    position: fixed;
    width: 1576px;
    overflow: hidden;
}

.register-carousel {
    margin-left: 200px;
    margin-top: 25px;
    width: 600px;
    height: 650px;
    position: relative;
}

.register-carousel-element {
    width: 600px;
    height: 650px;
    overflow: hidden;
    object-fit: fill;
}

.register-data {
    position: absolute;
    top: 50px;
    right: 300px;
    background-color: white;
    width: 600px;
    height: 600px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}