.search {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 30em;
}

.search-input {
    color: #333;
    font-size: 19px;
    font-family: Roboto;
    width: 25em;
    height: 2.5em;
    padding-left: 35px;
    border: none;
    border-radius: 20px;
    background-color: #fefefe;
    outline: none;
    transition: box-shadow 0.3s ease;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-position: 7px 55%;
    background-size: 25px 25px;
}

.search-input.dark {
    background-color: #666;
}

.search-input::placeholder {
    font-size: 17px;
    color: #a19b9b;
}

.search-input::-webkit-search-cancel-button {
    padding-right: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: url('../images/close.svg') no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    cursor: pointer;
}