.sorter {
    width: 400px;
    margin-left: 20px;
    margin-top: 10px;
}

.sorter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sorter-header {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    font-family: cursive;
    margin-right: 10px;
}