.about {
    margin-top: 80px;
    min-height: 100vh;
    background-color: #f5faff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
}

.about-first-part {
    margin-left: 350px;
    padding-top: 50px;
}

.about-us-header {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    line-height: 1.5;
    margin-left: 11.5em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.about-first-part-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-us-text {
    max-width: 400px;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    font-weight: bold;
    padding: 20px;
    border: 2px solid #ddd;
    background-color: white;
}


.about-us-img img {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-left: 10px;
}

.about-second-part {
    margin-left: 350px;
    margin-top: 70px;
}

.about-contact-info-header {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    line-height: 1.5;
}

.about-contact-info-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    line-height: 1.5;
}